@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

#root {
    max-width: 1680px;
    margin: 0 auto;
    /* padding: 2rem; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.georama-font {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.slider-container {
    position: relative;

}


.slide-item {
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 20px;
    overflow: hidden;
}

.slide-item img {
    width: 155%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.85);
    transition: all 0.4s ease;
}

.swiper-slide-active .slide-item {
    transform: scale(1.12);
    filter: brightness(1);
    z-index: 2;
}

.swiper-slide-prev .slide-item,
.swiper-slide-next .slide-item {
    transform: scale(0.9);
    opacity: 0.7;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    border-radius: 0 0 20px 20px;
}

.fade-in-text {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.swiper-slide-active .fade-in-text {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-text.delay-1 {
    transition-delay: 0.2s;
}

.fade-in-text.delay-2 {
    transition-delay: 0.4s;
}

.overlay h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.overlay p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.2rem 0;
}

.overlay span {
    font-size: 0.9rem;
    opacity: 0.9;
}


.custom-pagination {
    position: absolute;
    transform: translateY(250%);
    z-index: 10;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.swiper-pagination-bullet {
    background: #bbb;
    opacity: 0.6;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    transition: all 0.3s ease;
    pointer-events: all;
    /* re-enable click on bullets */
}

.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .slide-item img {
        height: 250px;
    }

    .overlay h3 {
        font-size: 1.1rem;
    }

    .overlay p {
        font-size: 1rem;
    }

    .overlay span {
        font-size: 0.85rem;
    }
}